.menu-dropdown {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    background-color: white;
    color: #1D4ED8;
    border-color: transparent;
    width: 20%;
    margin-right: 15%;
  }
  
.dropdown-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20%;
    width: 100%;
}

.placement-tag {
    background-color: #F8F8F8;
    border-radius: 0.75rem;
    width: 2.25rem;
    height: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
}

.candidate-by {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
